.t-h1 {
    margin-left: 50px;
    font-size: 100px;
/* margin-top: 20px; */
}

.t-p {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 500px;
}

/* number selected css */
.btn {
    height: 72px;
    width: 72px;
    border: 1px solid black;
    display: grid;
    place-items: center;
    font-size: 24px;
    font-weight: 700;
}

.selected {
    background-color: black;
    color: white;
}
.btn:hover{
    background-color: #000;
    color: #fff;
    transition:  ease-in-out;
}
.flexx{
    display: flex;
    gap: 24px;
}
.selc-p{
    font-size: 24px;
    font-weight: 700px;
    margin-top: 20px;
    margin-left: 65%;
}
.sele-container{
    margin-left: 60%;
    margin-top: -8%;
}
/* rolldice css */
.dice-container{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-left: -6%;
    flex-direction: column;
    align-items: center;
}
.dice-p{
font-size: 23px;
}
.error{
    color: red;
    margin-left: 50%;
    margin-top: -20px;
}
.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.reset{
    width: 150px;
    padding: 9px;
    margin-left: -6%;
    background-color: #fff;
    color: #000;
    border-bottom:1px solid black ;
}
.reset:hover{
    background-color: #000;
    color: #fff;
    transition: 2s ease-in-out;
}
.rule{
    width: 150px;
    padding: 9px;
    margin-left: -6%; 
    background-color: #000;
    color: #fff;
    border: none;
}
.rule:hover{
    background-color: #fff;
    color: #000;
    transition: 2s ease-in-out;
    border: 1px solid black;
}
.rules-container{
    background-color: #fbf1f1;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 20px;
}
.text{
    font-size: 17px;
    margin-top: 20px;
}
 @media(max-width:786px){
.t-h1{
    font-size: 29px;
    margin-top: 29px;
    margin-left: 48%;

}
.t-p{
    font-size:23px;
    margin-top: 13px;
    margin-left: 35%;
}
.sele-container{
 
        /* border: 2px solid black; */
        /* width: 25px; */
        /* height: 32px; */
        /* padding: 70px; */
        display: flex;
        flex-wrap: wrap;
        overflow-x: hidden;
        place-items: center;
        margin:-1px;
        /* gap: -1px; */
        font-size: 16px;
        /* background-color: brown; */
        margin-top: 25px;
        font-weight: 500;
    }   
    .flexx{
        gap: 1px;
        width: 290px;
        margin-left: 59px;
        margin-top: 12px;
    }
    .error{
        font-size: 15px;
        margin-left: 25%;
        /* margin-top: 20px; */
    }
    .selc-p{
        font-size: 30px;
        margin-left: 90px;
    }
.dice{
    margin-top: -20px;
}
.rules-container{
    font-size: 20px;
    width: 200px;
    height: auto;
}

}


   